<li ng-class="{ 'editing': $ctrl.editing, 'completed': $ctrl.note.completed }">
  <note-text-input ng-if="$ctrl.editing"
                   text="$ctrl.note.text"
                   editing="$ctrl.editing"
                   on-create="$ctrl.handleSave(text)">

  </note-text-input>
  <div class="view" ng-if="!$ctrl.editing">
    <input type="checkbox" class="toggle"
            ng-checked="$ctrl.note.completed"
            ng-click="$ctrl.onChange({id: $ctrl.ote.id})"
            />
    <label ng-dblclick="$ctrl.handleDoubleClick()">{{ $ctrl.note.text }}</label>
    <button class="destroy" ng-click="$ctrl.handleDestroy($ctrl.note.id)"></button>
  </div>
</li>
