html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #e9e9e9;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

button,
input[type="checkbox"] {
	outline: none;
}

.hidden {
	display: none;
}

.notesapp {
	background: #fff;
	margin: 130px 0 40px 0;
	position: absolute;
  max-width: 400px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.notesapp input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.notesapp h1 {
  position: absolute;
  top: -100px;
  width: 100%;
  font-size: 60px;
  font-weight: 100;
  text-align: center;
  color: #d5d5d5;
}

.new-note,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.new-note {
	padding: 16px 16px 16px 60px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

.notes-list li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.notes-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
}

.notes-list li:last-child {
	border-bottom: none;
}

.notes-list li.editing {
	border-bottom: none;
	padding: 0;
}

.notes-list li.editing .edit {
	display: block;
	width: 328px;
	padding: 13px 17px 12px 17px;
	margin: 0;
}

.notes-list li.editing .view {
	display: none;
}

.notes-list li label {
	white-space: pre-line;
	word-break: break-all;
	padding: 15px 60px 15px 15px;
	margin-left: 0;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.notes-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
}

.notes-list li .destroy:hover {
	color: #af5b5e;
}

.notes-list li .destroy:after {
	content: '×';
}

.notes-list li:hover .destroy {
	display: block;
}

.notes-list li .edit {
	display: none;
}

.notes-list li.editing:last-child {
	margin-bottom: -1px;
}
